h1{
    border-style: solid;
    color: rgb(80, 49, 77);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    border-style: double;
    color: lightseagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(71, 62, 51);
    
}

body{
    background-color: bisque;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14;
    font-style: italic;
}

li, ul, ol{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18;
    font-style: italic;
}